@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@import url("https://github.com/FabienSBR/OhMyFood_Mentorat-Soutenance/tree/corrections/assets/css/keyframe.css");


body {
  background-color: #eaeaea;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 700;
  margin: 0px;
  padding: 39px 50px 0px 50px;
}

h1:hover {
  cursor: default;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: black;
  font-weight: 700;
  padding: 0px 0px 26px 20px;
  margin: 0px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 700;
  margin: 0px;
  padding-bottom: 5px;
}

p {
  margin: 0px;
}

/* Composants */
.btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 500;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.btn:hover {
  cursor: pointer;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

.heart-bloc {
  width: 22px;
  height: 22px;
  font-size: 22px;
  position: relative;
  cursor: pointer;
}
.heart-bloc .heart-gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.heart-bloc .heart {
  position: absolute;
  top: 0px;
  left: 0px;
}
.heart-bloc:hover > .heart {
  opacity: 0;
  transition: opacity 300ms;
  transition-delay: 200ms;
}
.heart-bloc:hover > .heart-gradient {
  opacity: 1;
  transition: opacity 500ms;
  transform-origin: center bottom;
  animation-name: anim-heart;
  animation-duration: 500ms;
}
.heart-bloc:not(:focus) > .heart-gradient {
  transition: opacity 500ms;
}

/* Loader */
.loader {
  position: absolute;
  background-color: #9356DC;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 100;
  opacity: 0;
  animation-name: anim-loader;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.loader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader__title {
  font-family: Shrikhand;
  font-size: 70px;
  font-weight: 400;
  color: black;
}
.loader__anim {
  width: 80px;
  height: 80px;
  border: 15px solid white;
  border-bottom-color: #FF79DA;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

/* Header */
.top-bar {
  position: relative;
  background-color: white;
  width: 100%;
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.top-bar__img {
  display: block;
  height: 30px;
  width: 162px;
}

/* Main */
.location {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}
.location i {
  color: #353535;
}
.location__input {
  padding: 0px;
  width: 110px;
  height: 100%;
  border: none;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #353535;
  font-weight: 500;
}
.location__input::-moz-placeholder {
  color: #353535;
}
.location__input::placeholder {
  color: #353535;
}
.location__input:focus {
  outline: none;
}

.reservation {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 57px;
}
.reservation p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #353535;
  font-weight: 300;
  padding: 0px 30px 29px 30px;
  margin: 0px;
}
.reservation p:hover {
  cursor: default;
}

.fonctionnement {
  background-color: white;
  padding: 48px 0px 60px 0px;
}
.fonctionnement .container-fonc {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.fonctionnement .choice {
  position: relative;
  padding-left: 12px;
  width: 95%;
}
.fonctionnement .choice:hover {
  cursor: default;
}
.fonctionnement .choice__number {
  display: inline-block;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 24px;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  line-height: 26px;
  text-align: center;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #f6f6f6;
  font-weight: 500;
}
.fonctionnement .choice__bloc {
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding-left: 33px;
  display: flex;
  align-items: center;
  gap: 27px;
}
.fonctionnement .choice__bloc--purple {
  color: #9356DC;
}
.fonctionnement .choice__bloc--grey {
  color: #7e7e7e;
}
.fonctionnement .choice__bloc p {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.restaurant {
  padding: 54px 0px 66px 0px;
  width: 100%;
}
.restaurant .rest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.restaurant .rest-container .hide {
  display: none;
}
.restaurant .rest-container__link {
  display: block;
  width: 90%;
  height: 251px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
}
.restaurant .rest-container__tag {
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2d0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #008766;
  font-weight: 500;
  padding: 7px 9px 7px 9px;
}
.restaurant .rest-container__img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .rest-container__text {
  display: flex;
  height: 72px;
  padding: 0px 25px 0px 13px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: black;
  font-weight: 300;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
footer {
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
footer .footer__logo {
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
footer .footer__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
}
footer .footer__container a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: 400;
  text-decoration: none;
}
footer .footer__container .icon-text {
  display: flex;
  align-items: center;
  gap: 11px;
}
footer .footer__container .icon-text a {
  font-weight: 500;
}

/* Version Tablette */
@media (min-width: 768.1px) and (max-width: 1023.9px) {
  .fonctionnement .container-fonc {
    padding: 0px 80px 0px 80px;
  }
  .restaurant {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
  }
  .restaurant .rest-container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .restaurant .rest-container__link {
    width: 45.37%;
  }
}
/* Version Desktop */
@media (min-width: 1024px) {
  h1 {
    padding: 30px 0px 18px 0px;
    font-size: 40px;
  }
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color: black;
    font-weight: 700;
    padding: 0px 0px 28px 0px;
  }
  .top-bar {
    height: 96px;
  }
  .reservation {
    padding-bottom: 30px;
  }
  .reservation p {
    padding: 0px 0px 18px 0px;
    line-height: 46px;
  }
  .content {
    max-width: 1080px;
    margin: auto;
  }
  .fonctionnement {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fonctionnement .container-fonc {
    flex-direction: row;
  }
  .choice__bloc {
    width: 90%;
  }
  .restaurant {
    padding-top: 30px;
    padding-bottom: 30px;
    width: auto;
  }
  .restaurant .rest-container {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    -moz-column-gap: 100px;
         column-gap: 100px;
  }
  .restaurant .rest-container__link {
    width: 45%;
  }
  footer {
    padding: 60px 60px 30px 25px;
    flex-direction: row-reverse;
    align-items: center;
    gap: 90px;
  }
  footer .footer__container {
    flex-direction: row;
    gap: 20px;
  }
  footer .footer__container .icon-text {
    gap: 11px;
  }
  footer .footer__container .icon-text:last-of-type {
    margin-right: 40px;
  }
}
